<ion-view view-title="Control">
  <ion-content class="padding" style="text-align:center">
    <div class="list">

      <ion-item>
        <div class="row">
          <button id="forward" on-hold="sendSetpoint('1')" ng-click="sendSetpoint('1')" on-release="sendSetpoint('0')" class="button button-block button-balanced">
            Forward
          </button>
        </div>
        <div class="row">
          <div class="col">
            <button on-hold="sendSetpoint('2')" ng-click="sendSetpoint('2')" on-release="sendSetpoint('0')" class="button button-block button-positive">
              left
            </button>
          </div>
          <div class="col">
            <button on-hold="sendSetpoint('3')" ng-click="sendSetpoint('3')" on-release="sendSetpoint('0')" class="button button-block button-positive">
              right
            </button>
          </div>
        </div>
        <div class="row">
          <button on-hold="sendSetpoint('4')" ng-click="sendSetpoint('4')" on-release="sendSetpoint('0')" class="button button-block button-assertive">
            Back
          </button>
        </div>

      </ion-item>

    </div>
  </ion-content>

  </ion-view>
