<ion-view view-title="Settings">
	<ion-content class="padding" style="text-align:center">
		<ion-list>
				<button ng-click="findDevices()" class='button button-block button-positive'>
					Search devices
				</button>
				<ion-item>
					<h2>Paired Devices</h2>
				</ion-item>
				<button ng-repeat="device in pairedDevices" ng-click="connectMac({{device}})" class='{{typeConnect}}'>
					{{textConnect}} {{device.name}}
				</button>
				<ion-item>
					<h2>Discovered Devices</h2>
				</ion-item>
				<button ng-repeat="device in discoveredDevices" ng-click="connectMac({{device}})" class='{{typeConnect}}'>
					{{textConnect}} {{device.name}}
				</button>			
		</ion-list>
	</ion-content>
</ion-view>
