<ion-view view-title="Readings">
  <ion-content class="padding" style="text-align:center">
    <ion-item>
      <div class="row">
        <div class="col">
          <font size="4"><b>Sensor</font>
        </div>
        <div class="col">
          <font size="4">Value</b></font>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <font size="4">Temperature</font>
        </div>
        <div class="col">
          <font size="4">{{currentTemperature}}</font>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <font size="4">Humidity</font>
        </div>
        <div class="col">
          <font size="4">{{currentHumidity}}</font>
        </div>
      </div>

            <div class="row">
              <div class="col">
                <font size="4">Fish Sensor</font>
              </div>
              <div class="col">
                <font size="4">{{currentFish}}</font>
              </div>
            </div>


      <div class="row">
        <div class="col">
          <font size="4">Distance</font>
        </div>
        <div class="col">
          <font size="4">{{currentDistance}}</font>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <font size="4">Fotorezystor</font>
        </div>
        <div class="col">
          <font size="4">{{currentFoto}}</font>
        </div>
      </div>

            <div class="row">
              <div class="col">
                <font size="4">Movement</font>
              </div>
              <div class="col">
                <font size="4">{{currentMovement}}</font>
              </div>
            </div>


    </ion-item>
    <table class="table" id="dataLog">
    					<tr class="success">
    						<td>Czas</td>
    						<td>Foto</td>
    						<td>Dystans</td>
    						<td>Temp</td>
    					</tr>
    				</table>

  <!-- <div class="card">
    <div class="item item-divider">
      Temperature Chart
    </div>
    <div class="item item-text-wrap">
      <canvas id="line1" class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-legend="true" chart-series="series1" chart-options="options1"></canvas>
    </div>
    <div class="item item-divider">
      PWM Chart
    </div>
    <div class="item item-text-wrap">
      <canvas id="line2" class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-legend="true" chart-series="series2" chart-options="options2"></canvas>
    </div>
  </div>
  <button class='button button-block button-assertive' ng-click="resetChart()">
    Reset charts
  </button> -->
</ion-content>
</ion-view>
