<ion-view view-title="Readings">
  <ion-content class="padding" style="text-align:center">

    <div class="row">
      <div class="col">
        <font size="4"><b>Time</font>
      </div>
      <div class="col">
        <font size="4">{{currentTime}}</b></font>
      </div>
    </div>

    <div class="row">
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Temperature</p>
          <p class="ion-thermometer ikon-size"></p>
          <p class="button-after">{{currentTemperature}}</p>
        </button>
      </div>
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Humidity</p>
          <p class="ion-ios-rainy ikon-size"></p>
          <p class="button-after">{{currentHumidity}}</p>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Distance to object</p>
          <p class="ion-wifi ikon-size"></p>
          <p class="button-after">{{currentDistance}}</p>
        </button>
      </div>
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Movement</p>
          <p class="ion-eye ikon-size"></p>
          <p class="button-after">{{currentMovement}}</p>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Fish sensor</p>
          <p class="ion-ios-bolt ikon-size"></p>
          <p class="button-after">{{currentFish}}</p>
        </button>
      </div>
      <div class="col" style="line-height:1px">
        <button class="button button-block button-calm">
          <p class="button-pre">Light</p>
          <p class="ion-ios-sunny ikon-size"></p>
          <p class="button-after">{{currentFoto}}</p>
        </button>
      </div>
    </div>

</ion-content>
</ion-view>
