<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>Serwis pomiarowy</title>

	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">


	<script src="js/angular.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="js/angular-sanitize.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>
	<script src="js/ui-bootstrap-tpls-2.4.0.js"></script>
	<script src="js/app.js"></script>


</head>
<body ng-app="myApp" ng-controller="myCtrl" style="text-align:center" id="view">
	<div id="content">

		<div class="header">
			<h1>Serwis pomiarowy <br><small>Aplikacje mobilne i wbudowane dla Internetu przedmiotów</small></h1>
		</div>


		<!-- MENU -->
		<div id="tresc">
			<div class="row" id="menu">
				<div class="row">
					<button id="but40" class={{chartStyle}} ng-click="chartToggle()">
						{{chartText}} Wykres
					</button>
					<button id="but40" class={{dataLogStyle}} ng-model="myVar" ng-click="dataLogToggle()">
						{{dataLogText}} Rejestr pomiarów
					</button>
				</div>
				<div class="row">
					<button id="but40" class={{controlPanelStyle}} ng-click="controlPanelToggle()">
						{{controlPanelText}} Zadaj amplitudę
					</button>
					<button id="but40" class={{menuPobieranieStyle}} ng-click="menuPobieranieToggle()">
						{{menuPobieranieText}} Menu pobierania danych
					</button>
				</div>
				<div class="row {{controlPanelVisibility}}">
					<br>
					Amplituda	{{suwak.amplituda}}
					<br><br>
					<input  type="range" name="amplituda" min="50" max="500" step="10" ng-model="suwak.amplituda">
					<br><br>
					<button id="but50" class="btn btn-success" ng-click="sendAmp()">
						Wyślij amplitudę
					</button>
				</div>
			</div>
			<div class="row {{chartVisibility}}">
				<div class="card">
					<div class="item item-divider">
						Wykres piły
					</div>
					<div class="item item-text-wrap">
						<canvas id="line1" class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-legend="true" chart-series="series1" chart-options="options1"></canvas>
					</div>
				</div>
			</div>
			<div class="row  {{menuPobieranieVisibility}}">
				<div class="row">
					<button id="but50" class='btn btn-danger' ng-click="resetChart()">
						Usuń dane
					</button>
				</div>
				<div class="row">
					<button ng-show="singleDownloadState" id="but30" class="btn btn-success ng-hide" ng-click="downloadSingleData()">
						Pobierz jedną próbkę
					</button>
					<button id="but30" class={{downloadButtonStyle}} ng-click="downloadToggle()">
						{{downloadButtonText}} pobieranie ciągłe
					</button>
				</div>
			</div>
			<div class="row {{dataLogVisibility}}">
				<table class="table" id="dataLog">
					<tr class="success"> 
						<td>Czas</td>
						<td>Wartość pomiaru</td>
					</tr>
				</table>
			</div>
		</div>


	</div>
</body>
</html>
