page-home {
  text-align: center;
}

#main{
  text-align: center;
}

#histText{
  font-size: 15px;
}

#history{
  font-size:80px;
  margin-left: 85%;
}

#haslo{
  margin-top: 10%;
  margin-bottom: 20%;
}
