<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col width-50>
      Data
    </ion-col width-50>
    <ion-col width-50>
      Hasło
    </ion-col width-50>
  </ion-row>
  <ion-row *ngFor="let data of allData">
    <ion-col width-50>
      {{data.time}}
    </ion-col width-50>
    <ion-col width-50>
      {{data.data}}
    </ion-col width-50>
  </ion-row>
</ion-content>



<ion-row>
  <ion-col width-50>
    Data
  </ion-col width-50>
  <ion-col width-50>
    Hasło
  </ion-col width-50>
</ion-row>


<button ion-button primary *ngFor="let c of allData" (click)="showData()">{{allData}}</button>
